.main-content{
    width: 100%;
    padding: 30px 0 0 0;
    height: auto;
    min-width: 1100px;
    background-color: #FFF;
    -moz-box-shadow: 0px 0px 6px #c3c3c3;
    -webkit-box-shadow: 0px 0px 6px #c3c3c3;
    box-shadow: 0 0 6px #c3c3c3;
    text-align: center;
}

.middle-content-classify{
    width: 1060px;
    height: 130px;
    margin: 0 auto;
    padding: 5px 10px;
    border-top: 0.08em solid #e3e3e3;
    border-bottom: 0.08em solid #e3e3e3;
}

.middle-content-classify-area{
    width: 315px;
    height: 120px;
    margin: 0px 14px;
    padding: 5px 10px;
    float: left;
}

.middle-content-classify-area-title{
    display: block;
    font-size: 16px;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    font-weight: bolder;
    color: #777;
    margin-bottom: 10px;
    padding-bottom: 5px;
    float: left;
}

.middle-content-classify-area-mid{
    border-left: 0.08em solid #e3e3e3;
    border-right: 0.08em solid #e3e3e3;
    width: 322px;
    padding: 5px 15px;
}

.middle-content-classify-area-title img{
    position: relative;
    left: 2px;
    top: 2px;
}

.classify-area-more-button{
    display: block;
    float: right;
    height: 20px;
    line-height: 20px;
    vertical-align: bottom;
    padding-bottom: 5px;
    padding-right: 18px;
    color: #555;
    font-size: 12px;
    transition: color 0.3s ease;
}

.classify-area-more-button:hover{
    color: #16b1fa;
    transition: color 0.3s ease;
}

.classify-area-table{
    border: none;
}

.classify-area-table tr td{
    padding: 5px 0px 0px 10px;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    text-align: left;
    width: 160px;
}

.classify-area-table tr td a{
    color: #333333;
    font-size: 13px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.classify-area-table tr td a:hover{
    color:  #16b1fa;
    transition: color 0.3s ease;
}

.middle-content-classify-area-mid .middle-content-classify-area-title{
    padding-left: 30px;
}

.middle-content-classify-area-mid .classify-area-more-button:hover{
    color:  #f86833;
    transition: color 0.3s ease;
}

.middle-content-classify-area-mid .classify-area-table tr td{
    width: 120px;
    text-align: center;
}

.middle-content-classify-area-mid .classify-area-table tr td a:hover{
    color:  #f86833;
    transition: color 0.3s ease;
}

.middle-content-classify-area-claim .classify-area-more-button:hover{
    color: #ff5d4b;
    transition: color 0.3s ease;
}

.middle-content-classify-area-claim-span{
    display: block;
    padding-left: 16px;
    float: left;
    text-align: left;
}

.middle-content-classify-area-claim-span ul{
    list-style-type: none;
}

.middle-content-classify-area-claim-span ul li{
    display: inline-block;
    width: 270px;
    height: 20px;
    line-height: 20px;
    vertical-align: bottom;
    border-bottom: 1px dashed #d5d5d5;
}

.middle-content-classify-area-claim-span ul li a{
    color: #666666;
    font-size: 13px;
    text-decoration: none;
}

.middle-content-classify-area-claim-span ul li a:hover{
    color: #ff5d4b;
    transition: color 0.3s ease;
}

.middle-content-shopListArea{
    width: 1060px;
    height: auto;
    margin: 20px auto;
    padding: 20px 20px;
}

.middle-content-shopList-title{
    display: block;
    text-align: left;
    color: #555555;
    padding-bottom: 8px;
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 10px;
    border-bottom: 0.08em solid #f6f6f6;
}

.middle-content-shopList-item{
    display: block;
    float: left;
    width: 312px;
    height: 180px;
    margin: 5px 14px;
    padding: 8px 8px 5px 10px;
    background-color: #f6f6f6;
    transition: 0.3s ease;
    position: relative;
}

.middle-content-shopList-item:hover{
    -moz-box-shadow: 0px 0px 6px #c3c3c3;
    -webkit-box-shadow: 0px 0px 6px #c3c3c3;
    box-shadow: 0 0 6px #c3c3c3;
}

.middle-content-shopList-item-shopName{
    display: block;
    float: left;
    font-size: 15px;
    color: #888;
}

.middle-content-shopList-item-shopName:hover{
    color: #1c9cfb;
    text-decoration: none;
}

.glyphicon-chevron-right{
    display: block;
    float: right;
    color: #c8c8c8;
    font-size: 20px;
    transition: color 0.3s ease;
}

.glyphicon-chevron-right:hover{
    color: #16b1fa;
    transition: color 0.3s ease;
}

.middle-content-shopList-item-prove{
    display: block;
    float: left;
}

.glyphicon-star{
    margin: 4px 0 0 5px;
    color: #fcdc03;
    display: block;
    float: left;
}

.middle-content-shopList-item-img{
    display: block;
    margin: 8px 10px 0 0;
    float: left;
    width: 180px;
    height: 110px;
}

.middle-content-shopList-item-hotItem{
    display: block;
    float: left;
    margin: 8px 5px 0 0;
    padding:3px 6px;
    font-size: 11px;
    color: #666;
    background-color: #fff;
}

.middle-content-shopList-item-super-hotItem{
    display: block;
    float: left;
    margin: 8px 5px 0 0;
    padding:3px 6px;
    font-size: 11px;
    color: #ff5d4b;
    background-color: #fff;
}

.middle-content-shopList-item-active{
    display: block;
    float: right;
    width: 100px;
    height: 25px;
    position: absolute;
    top: 140px;
    right: 0px;
    font-size: 13px;
    font-weight: bolder;
    line-height: 25px;
    vertical-align: middle;
    padding-left: 10px;
    color: #FFFFFF;
    background: url('../img/middle-content-shopList-item-active.png') no-repeat;
}

.middle-content-shopList-item-more{
    display: block;
    text-align: right;
    height: 20px;
    line-height: 20px;
    padding-right: 40px;
    vertical-align: bottom;
 }

.middle-content-shopList-item-more a{
    color: #666666;
    text-decoration: none;
    font-size: 13px;
    transition: color 0.3s ease;
}

.middle-content-shopList-item-more a:hover{
    color: #ff5d4b;
    transition: color 0.3s ease;
}

.main-content-list{
    width: 1060px;
    height: 550px;
    padding: 20px;
    margin: 20px auto;
}

.main-content-list-area{
    float: left;
    width: 490px;
    height: 100%;
}

.main-content-list-area-title{
    display: block;
    text-align: left;
    color: #555555;
    padding-bottom: 8px;
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 10px;
    border-bottom: 0.08em solid #f6f6f6;
}

.main-content-list-box{
    width: 480px;
    height: 410px;
    margin-left: 10px;
}

.main-content-list-item{
    float: left;
    display: block;
    width: 150px;
    height: 200px;
    padding: 5px;
    text-align: center;
    margin: 5px 9px 5px 0;
    -moz-box-shadow: 0px 0px 6px #e3e3e3;
    -webkit-box-shadow: 0px 0px 6px #e3e3e3;
    box-shadow: 0 0 6px #e3e3e3;
    position: relative;
}

.main-content-list-item-popular{
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    background: url("../img/main-content-list-item-popular.png") no-repeat;
}

.main-content-list-item-photo{
    display: block;
    width: 140px;
    height: 140px;
    background: url("../img/main-content-list-item-photo.png") no-repeat;
}

.main-content-list-item-title{
    margin:5px 0 3px 0;
    display: inline-block;
    width: 100%;
    line-height: 20px;
    height: 20px;
    font-size: 14px;
    vertical-align: middle;
    color: #666666;
}

.main-content-list-item-title:hover{
    color: #0a9cff;
    text-decoration: none;
}

.main-content-list-item-cost{
    color: #ff4250;
    font-size: 16px;
    font-weight: bolder;
    display: block;
    float: left;
    line-height: 20px;
    vertical-align: middle;
}

.main-content-list-item-rentNum{
    color: #c3c3c3;
    font-size: 10px;
    display: block;
    float: right;
    margin:6px 3px 0 0;
}

.main-content-list-area-more{
    display: block;
    text-align: right;
    height: 20px;
    line-height: 20px;
    padding-right: 40px;
    vertical-align: bottom;
}

.main-content-list-area-more a{
    color: #666666;
    text-decoration: none;
    font-size: 13px;
    transition: color 0.3s ease;
}

.main-content-list-area-more a:hover{
    color: #16b1fa;
    transition: color 0.3s ease;
}

.main-content-list-area-split{
    float: left;
    margin: 50px 11px 0 11px;
    width: 0;
    height: 450px;
    border-left: 0.08em #f3f3f3 solid;
}

.main-content-rent-list-item{
    float: left;
    display: block;
    width: 231px;
    height: 200px;
    padding: 5px;
    text-align: center;
    margin: 5px 9px 5px 0;
    -moz-box-shadow: 0px 0px 6px #e3e3e3;
    -webkit-box-shadow: 0px 0px 6px #e3e3e3;
    box-shadow: 0 0 6px #e3e3e3;
    position: relative;
}

.main-content-rent-list-item-title{
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

.main-content-rent-list-item-title a{
    font-size: 15px;
    font-weight: bold;
    color: #555555;
    text-decoration: none;
}

.main-content-rent-list-item-classify{
    display: block;
    height: 20px;
    text-align: left;
    margin-bottom: 5px;
    font-size: 12px;
}

.main-content-rent-list-item-classify a{
     display: inline-block;
     padding: 1px 4px;
     font-size: 11px;
     text-decoration: none;
     -moz-box-shadow: 0px 0px 3px #e3e3e3;
     -webkit-box-shadow: 0px 0px 3px #e3e3e3;
     box-shadow: 0 0 3px #e3e3e3;
 }

.main-content-rent-list-item-classify a:hover{
    color: #ff5d4b;
}

.main-content-rent-list-item-description{
    display: block;
    float: left;
    width: 110px;
    height: 110px;
    text-align: left;
    line-height: 15px;
    margin-top: 5px;
    padding: 5px;
}

.main-content-rent-list-item-description a{
    color: #777;
    font-size: 11px;
}

.main-content-rent-list-item-photo{
    display: block;
    float: left;
    width: 110px;
    height: 110px;
    margin-top: 5px;
}

.main-content-rent-list-item-photo img{
    width: 105px;
    height: 105px;
}

.main-content-rent-list-item-button{
    display: block;
    margin-top: 5px;
}

.main-content-rent-list-item-button a{
    display: inline-block;
    float: right;
    padding: 3px 8px;
    margin-top: 2px;
    border-radius: 3px;
    color: #ffffff;
    font-size: 10px;
    text-decoration: none;
    margin-right: 10px;
}

.main-content-rent-list-item-button a:hover{
    text-decoration: none;
    color: #ffffff;
}

.main-content-rent-list-item-button-a1{
    background-color: #0a9cff;
}

.main-content-rent-list-item-button-a2{
    background-color: #ff5d4b;
}

@media screen and (max-width: 320px){
    .main-content{
        width: 100%;
        padding: 20px 0 0 0;
        height: auto;
        min-width: 320px;
    }

    .middle-content-classify{
        display: none;
    }

    .middle-content-shopListArea{
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 0 20px;
    }

    .middle-content-shopList-title{
        font-size: 18px;
    }

    .middle-content-shopList-item{
        width: 280px;
        height: 180px;
        margin: 5px 0;
    }

    .middle-content-shopList-item:hover{
        -moz-box-shadow: 0px 0px 6px #c3c3c3;
        -webkit-box-shadow: 0px 0px 6px #c3c3c3;
        box-shadow: 0 0 6px #c3c3c3;
    }

    .middle-content-shopList-item-shopName{
        display: block;
        float: left;
        font-size: 15px;
        color: #888;
    }

    .middle-content-shopList-item-shopName:hover{
        color: #1c9cfb;
        text-decoration: none;
    }

    .glyphicon-chevron-right{
        display: block;
        float: right;
        color: #c8c8c8;
        font-size: 20px;
        transition: color 0.3s ease;
    }

    .glyphicon-chevron-right:hover{
        color: #16b1fa;
        transition: color 0.3s ease;
    }

    .middle-content-shopList-item-prove{
        display: block;
        float: left;
    }

    .glyphicon-star{
        margin: 4px 0 0 5px;
        color: #fcdc03;
        display: block;
        float: left;
    }

    .middle-content-shopList-item-img{
        display: block;
        margin: 8px 10px 0 0;
        float: left;
        width: 180px;
        height: 110px;
    }

    .middle-content-shopList-item-hotItem{
        display: block;
        float: left;
        margin: 8px 5px 0 0;
        padding:3px 6px;
        font-size: 11px;
        color: #666;
        background-color: #fff;
    }

    .middle-content-shopList-item-super-hotItem{
        display: block;
        float: left;
        margin: 8px 5px 0 0;
        padding:3px 6px;
        font-size: 11px;
        color: #ff5d4b;
        background-color: #fff;
    }

    .middle-content-shopList-item-active{
        display: block;
        float: right;
        width: 100px;
        height: 25px;
        position: absolute;
        top: 140px;
        right: 0px;
        font-size: 13px;
        font-weight: bolder;
        line-height: 25px;
        vertical-align: middle;
        padding-left: 10px;
        color: #FFFFFF;
        background: url('../img/middle-content-shopList-item-active.png') no-repeat;
    }

    .middle-content-shopList-item-more{
        display: block;
        text-align: right;
        height: 20px;
        line-height: 20px;
        padding-right: 40px;
        vertical-align: bottom;
    }

    .middle-content-shopList-item-more a{
        color: #666666;
        text-decoration: none;
        font-size: 13px;
        transition: color 0.3s ease;
    }

    .middle-content-shopList-item-more a:hover{
        color: #ff5d4b;
        transition: color 0.3s ease;
    }

    .main-content-list{
        width: 1060px;
        height: 550px;
        padding: 20px;
        margin: 20px auto;
    }

    .main-content-list-area{
        float: left;
        width: 490px;
        height: 100%;
    }

    .main-content-list-area-title{
        display: block;
        text-align: left;
        color: #555555;
        padding-bottom: 8px;
        font-size: 20px;
        font-weight: bolder;
        margin-bottom: 10px;
        border-bottom: 0.08em solid #f6f6f6;
    }

    .main-content-list-box{
        width: 480px;
        height: 410px;
        margin-left: 10px;
    }

    .main-content-list-item{
        float: left;
        display: block;
        width: 150px;
        height: 200px;
        padding: 5px;
        text-align: center;
        margin: 5px 9px 5px 0;
        -moz-box-shadow: 0px 0px 6px #e3e3e3;
        -webkit-box-shadow: 0px 0px 6px #e3e3e3;
        box-shadow: 0 0 6px #e3e3e3;
        position: relative;
    }

    .main-content-list-item-popular{
        position: absolute;
        width: 30px;
        height: 30px;
        top: 0;
        left: 0;
        background: url("../img/main-content-list-item-popular.png") no-repeat;
    }

    .main-content-list-item-photo{
        display: block;
        width: 140px;
        height: 140px;
        background: url("../img/main-content-list-item-photo.png") no-repeat;
    }

    .main-content-list-item-title{
        margin:5px 0 3px 0;
        display: inline-block;
        width: 100%;
        line-height: 20px;
        height: 20px;
        font-size: 14px;
        vertical-align: middle;
        color: #666666;
    }

    .main-content-list-item-title:hover{
        color: #0a9cff;
        text-decoration: none;
    }

    .main-content-list-item-cost{
        color: #ff4250;
        font-size: 16px;
        font-weight: bolder;
        display: block;
        float: left;
        line-height: 20px;
        vertical-align: middle;
    }

    .main-content-list-item-rentNum{
        color: #c3c3c3;
        font-size: 10px;
        display: block;
        float: right;
        margin:6px 3px 0 0;
    }

    .main-content-list-area-more{
        display: block;
        text-align: right;
        height: 20px;
        line-height: 20px;
        padding-right: 40px;
        vertical-align: bottom;
    }

    .main-content-list-area-more a{
        color: #666666;
        text-decoration: none;
        font-size: 13px;
        transition: color 0.3s ease;
    }

    .main-content-list-area-more a:hover{
        color: #16b1fa;
        transition: color 0.3s ease;
    }

    .main-content-list-area-split{
        float: left;
        margin: 50px 11px 0 11px;
        width: 0;
        height: 450px;
        border-left: 0.08em #f3f3f3 solid;
    }

    .main-content-rent-list-item{
        float: left;
        display: block;
        width: 231px;
        height: 200px;
        padding: 5px;
        text-align: center;
        margin: 5px 9px 5px 0;
        -moz-box-shadow: 0px 0px 6px #e3e3e3;
        -webkit-box-shadow: 0px 0px 6px #e3e3e3;
        box-shadow: 0 0 6px #e3e3e3;
        position: relative;
    }

    .main-content-rent-list-item-title{
        display: block;
        text-align: left;
        margin-bottom: 5px;
    }

    .main-content-rent-list-item-title a{
        font-size: 15px;
        font-weight: bold;
        color: #555555;
        text-decoration: none;
    }

    .main-content-rent-list-item-classify{
        display: block;
        height: 20px;
        text-align: left;
        margin-bottom: 5px;
        font-size: 12px;
    }

    .main-content-rent-list-item-classify a{
        display: inline-block;
        padding: 1px 4px;
        font-size: 11px;
        text-decoration: none;
        -moz-box-shadow: 0px 0px 3px #e3e3e3;
        -webkit-box-shadow: 0px 0px 3px #e3e3e3;
        box-shadow: 0 0 3px #e3e3e3;
    }

    .main-content-rent-list-item-classify a:hover{
        color: #ff5d4b;
    }

    .main-content-rent-list-item-description{
        display: block;
        float: left;
        width: 110px;
        height: 110px;
        text-align: left;
        line-height: 15px;
        margin-top: 5px;
        padding: 5px;
    }

    .main-content-rent-list-item-description a{
        color: #777;
        font-size: 11px;
    }

    .main-content-rent-list-item-photo{
        display: block;
        float: left;
        width: 110px;
        height: 110px;
        margin-top: 5px;
    }

    .main-content-rent-list-item-photo img{
        width: 105px;
        height: 105px;
    }

    .main-content-rent-list-item-button{
        display: block;
        margin-top: 5px;
    }

    .main-content-rent-list-item-button a{
        display: inline-block;
        float: right;
        padding: 3px 8px;
        margin-top: 2px;
        border-radius: 3px;
        color: #ffffff;
        font-size: 10px;
        text-decoration: none;
        margin-right: 10px;
    }

    .main-content-rent-list-item-button a:hover{
        text-decoration: none;
        color: #ffffff;
    }

    .main-content-rent-list-item-button-a1{
        background-color: #0a9cff;
    }

    .main-content-rent-list-item-button-a2{
        background-color: #ff5d4b;
    }
}