/*复写public.css中的middle-content的高度*/
.middle-contentArea{
    width: 100%;
    height: 2950px;
    text-align: center;
    padding-top: 25px;
}

/*middle内容开始*/
.middle-content{
    width: 1100px;
    height: auto;
    margin: 0 auto;
    padding: 10px;
}

.middle-content-right{
    width: 78%;
    height: auto;
    float: right;
}

.middle-content-left{
    width: 20%;
    height: 1200px;
    float: left;
}

.middle-information-div{
    width: 100%;
    height: 220px;
    background-color: #ffffff;
    -moz-box-shadow: 0px 0px 6px #d7d7d7;
    -webkit-box-shadow: 0px 0px 6px #d7d7d7;
    box-shadow: 0px 0px 6px #d7d7d7;
}

.middle-information-img{
    display: block;
    float: left;
    margin: 15px 5px 15px 20px;
    width: 70px;
    height: 70px;
    -moz-border-radius: 35px;
    -webkit-border-radius: 35px;
    border-radius: 35px;
    -moz-box-shadow: 0px 0px 6px #d7d7d7;
    -webkit-box-shadow: 0px 0px 6px #d7d7d7;
    box-shadow: 0px 0px 6px #d7d7d7;
    background: url("../img/middle-information-img.png") no-repeat;
}

.middle-information-content{
    display: block;
    float: left;
    margin: 30px 10px 15px 10px;
    font-size: 13px;
    color: #666666;
}

.middle-information-content a{
    display: inline-block;
    margin-top: 5px;
    padding: 5px 8px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    text-decoration: none;
    background-color: #ffffff;
}

.middle-information-content a:hover{
    background-color: #f86833;
    color: #ffffff;
}

.middle-information-button-group{
    display: block;
    float: left;
    width: 194px;
    height: 110px;
    margin: 0 10px;
    border-top: 0.08em #e7e7e7 dashed;
}

.middle-information-button-group a{
    display: block;
    padding: 5px 10px;
    margin: 5px 15px;
    width: 170px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #ffffff;
    text-decoration: none;
}

.middle-information-button-group-1{
    background-color: #229cff;
}

.middle-information-button-group-2{
    background-color: #f86833;
}

.middle-information-button-group-3{
    background-color: #09d321;
}

.middle-shop-ranking-div{
    width: 100%;
    height: 400px;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #ffffff;
    -moz-box-shadow: 0px 0px 6px #d7d7d7;
    -webkit-box-shadow: 0px 0px 6px #d7d7d7;
    box-shadow: 0px 0px 6px #d7d7d7;
}

.middle-shop-ranking-div-title{
    display: block;
    height: 20px;
    text-align: left;
    font-size: 18px;
    font-weight: bolder;
    color: #555555;
}

.middle-shop-ranking-list{
    display: block;
    clear: left;
    width: 100%;
    height: 65px;
    margin-top: 8px;
    border-top: 0.08em dashed #f3f3f3;
}

.middle-shop-ranking-list-num{
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    margin: 10px 5px 0 5px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #ffffff;
    line-height: 40px;
    vertical-align: middle;
    font-size: 20px;
    font-style: italic;
    font-weight: bolder;
}

.ranking-list-1{
    background-color: #c0c472;
}

.middle-shop-ranking-list-content{
    display: block;
    float: left;
    width: 133px;
    height: 55px;
    margin: 6px;
    overflow: hidden;
    position: relative;
}

.ranking-list-content-1{
    background: url("../img/ranking-list-content-1.png") no-repeat;
}

.ranking-list-content-title-1{
    width: 100%;
    background-color: #111;
    display: block;
    opacity: 0.5;
    font-size: 12px;
    color: #ffffff;
    position: relative;
    top: -17px;
}

.ranking-list-content-title-1:hover{
    text-decoration: underline;
}

.middle-recommend-item-div{
    width: 100%;
    height: 390px;
    margin-top: 20px;
    background-color: #ffffff;
    -moz-box-shadow: 0px 0px 6px #d7d7d7;
    -webkit-box-shadow: 0px 0px 6px #d7d7d7;
    box-shadow: 0px 0px 6px #d7d7d7;
    padding: 5px 10px;
}

.middle-recommend-item-div-item{
    display: block;
    width: 100%;
    height: 80px;
    border-top: 1px dashed #e4e4e4;
    margin-top: 10px;
}

.middle-recommend-item-div-item-img{
    display: block;
    float: left;
    width: 60px;
    height: 60px;
    margin: 10px;
    background-color: #333333;
}

.middle-recommend-item-div-item-name{
    display: block;
    float: left;
    margin: 10px 0 5px 0;
}

.middle-recommend-item-div-item-name a{
    font-size: 13px;
    text-decoration: none;
}

.middle-recommend-item-div-item-host{
    display: block;
    float: left;
    color: #777777;
    font-size: 10px;
}

.middle-recommend-item-div-item-rentNum{
    display: block;
    float: left;
    color: #777777;
    margin-top: 4px;
    font-size: 10px;
}


.middle-advertisement-div{
    width: 100%;
    height: 120px;
    background-color: #ffffff;
    -moz-box-shadow: 0px 0px 6px #d7d7d7;
    -webkit-box-shadow: 0px 0px 6px #d7d7d7;
    box-shadow: 0px 0px 6px #d7d7d7;
}

.middle-classify-div{
    width: 100%;
    height: 90px;
    background-color: #ffffff;
    -moz-box-shadow: 0px 0px 6px #d7d7d7;
    -webkit-box-shadow: 0px 0px 6px #d7d7d7;
    box-shadow: 0px 0px 6px #d7d7d7;
    margin-top: 10px;
}

.middle-classify-top{
    height: 60px;
    width: 100%;
    border-bottom: 0.08em #e6e6e6 solid;
    position: relative;
}

.middle-classify-top-span-s{
    display: block;
    float: left;
    width: 8%;
    height: 100%;
    border-right: 0.08em #e6e6e6 solid;
    line-height: 60px;
    text-align: center;
    vertical-align: middle;
}

.middle-classify-top-span-m{
    display: block;
    float: left;
    width: 14%;
    height: 100%;
    border-right: 0.08em #e6e6e6 solid;
    line-height: 60px;
    text-align: center;
    vertical-align: middle;
}

.middle-classify-top-span-8{
    border-right: none;
}

.middle-classify-top-line{
    position: absolute;
    display: block;
    width: 50px;
    height: 5px;
    left: 9px;
    background-color: #229cff;
}

.middle-classify-btm{
    width: 100%;
    height: 25px;
    margin-top: 5px;
    padding: 0 20px;
}

.middle-classify-btm span{
    display: inline-block;
    float: left;
    margin: 0px 10px;
    color: #a1a1a1;
    font-size: 10px;
}

.middle-shopList{
    width: 100%;
    height: auto;
}

.middle-shopList-div{
    width: 100%;
    height: 250px;
    margin-top: 10px;
    background-color: #ffffff;
    -moz-box-shadow: 0px 0px 6px #d7d7d7;
    -webkit-box-shadow: 0px 0px 6px #d7d7d7;
    box-shadow: 0px 0px 6px #d7d7d7;
    padding: 15px;
}

.middle-shopList-div-img{
    display: block;
    float: left;
    height: 220px;
    width: 350px;
    margin-right: 30px;
}

.middle-shopList-div-title{
    display: block;
    float: left;
    width: 350px;
    height: 35px;
    text-align: left;
    padding-top: 5px;
    border-bottom: 0.08em #e6e6e6 dashed;
}

.middle-shopList-div-title a{
     color: #333;
     font-weight: bolder;
     font-size: 16px;
     transition: 0.3s ease;
 }

.middle-shopList-div-title a:hover{
    text-decoration: none;
    color: #f86833;
    transition: 0.3s ease;
}

.middle-shopList-div-in{
    display: block;
    float: right;
    width: 50px;
    height: 50px;
}

.middle-shopList-div-in a{
    font-size: 30px;
    color: #d5d5d5;
    transition: 0.3s ease;
}

.middle-shopList-div-in a:hover{
    color: #f86833;
    transition: 0.3s ease;
}

.middle-shopList-div-description{
    display: block;
    float: left;
    width: 350px;
    height: 65px;
    margin-top: 10px;
    color: #999999;
    font-size: 9px;
    text-align: left;
}

.middle-shopList-div-Item{
    margin-top: 15px;
    display: block;
    float: left;
    width: 350px;
    height: 30px;
}

.middle-shopList-div-Item a{
    display: inline-block;
    float: left;
    padding: 2px 7px;
    margin-right: 10px;
    -moz-box-shadow: 0px 0px 3px #d7d7d7;
    -webkit-box-shadow: 0px 0px 3px #d7d7d7;
    box-shadow: 0px 0px 3px #d7d7d7;
    font-size: 13px;
    text-decoration: none;
    transition: 0.3s ease;
}

.middle-shopList-div-Item a:hover{
    color: #f86833;
    transition: 0.3s ease;
}

.middle-shopList-div-host{
    margin-top: 10px;
    display: block;
    float: left;
    width: 430px;
    height: 60px;
}

.middle-shopList-div-host-img{
    display: block;
    float: left;
    margin: 10px 10px 10px 0;
    width: 40px;
    height: 40px;
}

.middle-shopList-div-host-img img{
    width: 40px;
    height: 40px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

.middle-shopList-div-host-name{
    text-align: left;
    width: 130px;
    height: 40px;
    display: block;
    float: left;
    font-size: 10px;
    color: #999;
    margin: 10px 0;
    line-height: 40px;
    vertical-align: middle;
    padding-right: 10px;
    border-right: 1px #e5e5e5 solid;
}

.middle-shopList-div-host-rent{
    text-align: left;
    width: 110px;
    height: 40px;
    display: block;
    float: left;
    font-size: 7px;
    color: #999;
    margin: 10px 5px;
    line-height: 40px;
    vertical-align: middle;
    padding: 0 10px;
    border-right: 1px #e5e5e5 solid;
}

.middle-shopList-div-host-good{
    text-align: left;
    width: 80px;
    height: 40px;
    display: block;
    float: left;
    font-size: 7px;
    color: #999;
    margin: 10px;
    line-height: 40px;
    vertical-align: middle;
    padding-right: 10px;
}